{% load static %}
<html>

<head>
    <title>DJ block</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">


</head>

<body>
    <header>
        <h1>
            <a href="{% url 'home_view' %}">Home</a>
            <a href="{% url 'message_board_view' %}">Board</a>
            <a href="{% url 'blog_view' %}">Blog</a>
            <a href="{% url 'post_new_view' %}">Post something new</a>

        </h1>
    </header>

    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>