{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
    <h2>{{ hui.title }}</h2>
    <p>{{ hui.body }}</p>
    <p>Date: {{ now|date }}</p>
</div>
<a href="{% url 'post_edit_view' hui.pk %}">Edit Blog Post</a>
<p><a href="{% url 'post_delete_view' hui.pk %}">Delete Blog Post</a></p>
{% endblock content %}